# Binary files
bin/

# Cmake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Generated via cmake configuration
src/pluginloader.cpp
src/pluginloader.cpp

# YouCompleteMe files
.ycm_extra_conf.py*

# Temporary files
*.swp
